.popup {
  display: block;
  width: auto;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 100px;
}

.popup_header {
  display: flex;
  align-content: center;
  justify-content: space-between;
  font-size: medium;
}
.description {
  display: flex;
}
.close_btn {
  background: rgba(0, 0, 0, 0.5);
  border: 0;
  color: white;
  font-size: xx-large;
}
.title {
  font-size: large;
}

.planet_image {
  height: 500px;
  width: 500px;
}
.planet_description {
  width: 100%;
}
