.StartQuizzStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: auto;
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.StartQuizzLink {
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-size: 300%;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.MiniQuizzButton {
  width: 400px;
  min-width: 300px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  background: #4ddac2;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(212, 4, 231, 0.64);
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  padding: 10px;
}

.MiniQuizzButton::before {
  border-radius: 1000px;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
}

.MiniQuizzButton:hover,
.MiniQuizzButton:focus {
  transform: translateY(-8px);
}

.MiniQuizzButton::after {
  content: "";
  border-radius: 100%;
  border: 10px solid #00ffcb;
  position: absolute;
  z-index: -6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.MiniQuizzButton:hover::after,
.MiniQuizzButton:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
